<footer class="bg-black ph3 ph4-m ph5-l pv4 white center">
				<ul class="mb3 flex justify-center">
					<li class="pa3 wr2"><a href="/" class="link">Home</a></li>
					<li class="pa3 wr2"><a href="/work" class="link">Work</a></li>
					<li class="pa3 wr2"><a href="/about" class="link">About</a></li>
					<li class="pa3 wr2"><a href="/post" class="link">Blog</a></li>
					<li class="pa3 wr2"><a href="/contact" class="link">Contact</a></li>
				</ul>

				<ul class="flex justify-center">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook" "alt" "Kaldi on Facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter" "alt" "Kaldi on Twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram" "alt" "Kaldi on Instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo" "alt" "Kaldi on Vimeo") }}
				</ul>
</footer>

